<modified>2019-12-28T04:13:32+0000</modified>

<create>2019-12-28T04:09:30+0000</create>

<project></project>

<title>ความรู้สึกหลังจากลองศึกษาเกี่ยวกับ blazor</title>

<content>
	จากที่ลองจับมาหลายสัปดาห์คิดว่า รอไปอีกยาวๆสำหรับ WSAM และ Blazor<br>
	ทั้งใหญ่และใช้เวลาในการโหลดครั้งแรกนาน คิดว่ายังไง ณ ตอนนี้ยังสู้กับ JS<br>
	เพียวๆแบบปัจจุบันที่กำลังนิยมไม่น่าจะไหว  ตอนแรกที่เริ่มศึกษาเพราะสนใจ<br>
	แลจะเป็นตัวคล้ายๆ TypeScript to JavaScript แต่ทีไ่หนได้นี่มัน WSAM<br>
	หลังจากที่ไปลองเล่นมาสองสามสัปหาด์คิดว่ายังห่างจากการเอามาทำเป็น<br>
	Production จริงๆ เพราะปัญหาและการ Support น้อยมาก
	<b>ปล.รู้สึกผิดหวังนิดหน่อยกับ ณ ตอนนี้ของ blazor</b>
</content>
