<modified>2019-12-27T16:22:27+0000</modified>

<create>2019-12-27T16:17:22+0000</create>

<project>Timeline Template</project>

<title>แก้ไขให้แสดงเวลาจากทางฝั่ง Client</title>

<content>
	เนื่องจากก่อนหน้านี้ทำให้แสดงเวลาเป็นกลาง (UTC) แต่ไม่สะดวกในการเทียบเวลา<br>
	เลยคิดว่าแก้เป็นให้แสดงเวลาจากทางฝั่ง Client เลยดีกว่าจะได้ง่ายต่อการมองย้อนกลับ
	<b>หวังว่าโปรเจคนี้จะได้ใช้งานจริงและไม่แก้ไขอะไรเพิ่มเติมอีกนะ</b>
</content>
