<modified>2019-12-28T04:09:25+0000</modified>

<create>2019-12-28T04:03:25+0000</create>

<project>AspNet Core Hadoop Upload</project>

<title>Project renovation</title>

<content>
	เนื่องจากเมื่อวานนี้ได้ทำระบบนี้ด้วย Blazor Server รู้สึกผิดหวังมาก<br>
	กับความเช้าและความไม่ยืดหยุนไม่เหมาะ กับการเอามาทำระบบอัพโหลดเลย<br>
	และที่สำคัญคือหลายๆ browser ยังไม่รองรับด้วย โปรเจคนี้เป็นการ cone<br>
	มาจากโปรเจค <b>aspcoreeasyupload</b> คิดว่าโปรเจคนี้ทำเป็น <br>
	open source อีกตัวละกัน<br>
</content>
