<project>Timeline Template</project>

<title>เปิดใช้งาน</title>

<content>
    เนื่องจากตามหาเว็บที่น่าจะใช้แสดง Timeline ในการทำโปรเจคของตัวเอง<br>
    แต่ไม่เจอที่ถูกใจซักทีเลยทำขึ้นมาเอง พัฒนาด้วย Blazor .net core 3.1<br>
    พัฒนาบน Blazor Client ซึ่งตอนนี้ยังเป็นตัวทดลองใช้งานอยู่ดูไม่ค่อยน่าใช้ซักเท่าไหร่<br>
</content>