<modified>2019-12-28T13:50:10+0000</modified>

<create>2019-12-28T13:47:42+0000</create>

<project>AspCore Hadoop Upload</project>

<title>ปรับปรุงให้รองรับการอัพโหลดไฟล์ขนาดใหญ่</title>

<content>
	จากที่ลองอัพโหลดมา ยังไงก็ต้องปรับปรุงให้อัพโหลดไฟล์ขนาดใหญ่ได้<br>
	เนื่องจากที่ทำก่อนหน้านี้อัพโหลดได้ขนาดเท่ากับที่จอง Memory ใน Ram แค่นั้นเอง<br>
</content>
