<project>movietemplate</project>

<title>Asp.Net Core MovieTemplate</title>

<content>
	หลังจากพัฒนาโปรเจคตัวนี้มากว่า 3 เดือน<br>
	คิดว่าตอนนี้น่าจะพร้อมใช้งานแล้ว และก็เปิดออนไลน์ผ่าน<br>
	Pi Server มาได้เดือนนึง ยังไม่เจอปัญหาอะไรแปลกๆ<br>
	แต่คิดว่าถ้าอัพโหลดคลังได้ 30 เรื่องน่าจะเริ่มโปรโมตจริงๆจังๆได้แล้วมั้ง<br>
	<b>โปรเจคนี้พัฒนาด้วย Asp.Net Core 2.2</b><br>
	<b>Requiremet System</b><br>
	- Hadoop ทำเป็น Docker พร้อมใช้งานไว้แล้ว<br>
	- Redis มี Docker Support แล้วเช่นกัน<br>
	- รองรับ Postgesql และ Sql Server ปัจจุบันเลือกใช้ Postgesql เนื่องจากเป็น Open Source<br>
</content>
