<modified>2019-12-28T18:00:45+0000</modified>

<create>2019-12-28T03:57:28+0000</create>

<project>AspCore Hadoop Upload</project>

<title>ปรับปรุงน่าจะรุ่นสุดท้ายน่าจะไม่ต้องแก้แล้วมั้ง</title>

<content>
	เนื่องจากก่อนหน้านี้ตั้งใจจะไม่ทำอะไรเพิ่มเติมแล้วแต่เหมือนว่า<br>
	การใช้งานจริงจะลำบากกว่าที่คิด และแก้บัคต่างๆนาๆมากมาย การย้าย<br>
	จาก Blazor ที่เคยทำไว้ก่อนหน้านี้มาเป็นตัวนี้ค่อนข้างดีในด้านความเร็วในการอัพโหลด<br>
	คิดว่านะ...
</content>
