<modified>2019-12-27T15:56:15+0000</modified>

<create>2019-12-27T15:56:07+0000</create>


<project>Timelie Template</project>

<title>แก้บัคทั่วไปและปรับปรุงทั่วไป</title>

<content>
	วันนี้ได้เขียนสคลิป bash file สำหรับแก้ไขสร้างและเซฟไฟล์ดาต้า<br>
	เนื่องจากเมื่อวานยังไม่ได้ทำและคิดว่ามันจะทำให้สะดวกมากขึ้นในการเขียน Log<br>
	ทำให้แสดงเวลาปัจจุบันด้วย เนื่องจากเวลาทีแสดงเป็น Utc ถ้าไม่มีเวลาปัจจุบันบอก<br>
	การแยกแยะเวลาต่าง Timezone ยากมาก<br>
	ปล.<b>หวังว่าจะไม่ต้องปรับปรุงอะไรเพิ่มเติมแล้วนะ</b>
</content>
