<project>aspcoreeasyupload</project>

<title>Asp.Net Core EasyUpload with Hadoop</title>

<content>
	เนื่องจากตัว HDFS ตัว 3 ล่าสุด(ณ ตอนนี้) ใช้งานไม่สะดวกอย่างที่คิด<br>
	จึงเลือกพัฒนาขึ้นมาเอง เพื่อใช้งานเองน่ะนะ แต่ก็ทำเป็น Open Source<br>
	ไว้ที่ Github <b>devdev22plus</b> ใช้งานร่วมกันกับ Hadoop<br>
	ผ่าน HDFS Rest Api ของ Hadoop<br>
	<b>พัฒด้วย Asp.Net Core Blazor Server</b><br>
	<br>
	<p>พร้อมใช้งานวันนี้</p>
</content>
