<modified>2020-01-06T08:59:17+0000</modified>

<create>2020-01-06T08:51:11+0000</create>

<project>__Work2014</project>

<title>ปรับปรุง PkxTool ให้ทำการ Pack&UnPack ได้เร็วขึ้น</title>

<content>
	ปรับปรุงด้วยการใช้ Thread เข้ามาช่วยในการ Pack&UnPack<br>
	และปรับปรุงรูปแบบโครงสร้างบางอย่างทำให้ทำงานได้ดีขึ้น<br>
	จากการทดสอบด้วย CPU 6950x ทำให้สามารถ Pack ไฟล์จำนวน 30K+<br>
	ได้เร็วขึ้นจากเดิมใช้เวลา 1 นาทีเหลือไม่เกิน 10วินาที<br>
	ส่วนการ Unpack นั้นก่อนหน้านี้ใช้เป็น Single Thread แต่มีปัญหาที่ windows 10<br>
	ที่มี scan virus ติดมากับ OS จึงมีปัญหาทำให้ช้าลงอย่างมากจึงแก้ไขด้วยการใช้ Thread เข้ามาช่าวย<br>i
	ความเร็วในการ Unpack นั้นใช้เวลา 20 วิ ในการ Unpack ไฟล์จำนวน 30K+<br>
	ซึ่งความเร็วที่ได้มาน่าประทับใจมาก (เทสบน NVME gen 3)
</content>
