﻿@using System
@using System.Threading
@using Newtonsoft.Json
@inject HttpClient Http

@page "/"

<div class="container">
	<div class="row">
        <div class="col-md-12">



            <div class="timeline-centered">



		 <article class="timeline-entry @(jsonDataContent != null && jsonDataContent.Length > 0 && jsonDataContent.Length % 2 == 0 ? "left-aligned" : "")">
                    <div class="timeline-entry-inner">
                           <time class="timeline-time" datetime="@timeNow"><span>@ProcDateTimeToUserOffset(timeNow).ToString("hh:mm tt")</span> <span>Now</span></time>
                        <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                        </div>
                    </div>
                </article>



                @if(jsonDataContent != null && jsonDataContent.Length > 0)
                {
                    foreach (var item in jsonDataContent)
                    {
                        string shortTime = "";
                        string textShortTime = "";

                        //TimeSpan ts = ( DateTime.UtcNow - item.modified );
			TimeSpan ts = ProcDateTimeToUserOffset(DateTime.UtcNow) - ProcDateTimeToUserOffset(item.modified);

                        if(ts.TotalHours < 24 && ProcDateTimeToUserOffset(DateTime.UtcNow).Day == ProcDateTimeToUserOffset(item.modified).Day)
                        {
                            shortTime = ProcDateTimeToUserOffset(item.modified).ToString("hh:mm tt");
                            textShortTime = "<span>Today</span>";
                        }
                        else if (ts.TotalHours < 48 && ProcDateTimeToUserOffset(DateTime.UtcNow.AddDays(-1)).Day == ProcDateTimeToUserOffset(item.modified.AddDays(-1)).Day)
                        {
                            shortTime = ProcDateTimeToUserOffset(item.modified).ToString("hh:mm tt");
                            textShortTime = "<span>Yesterday</span>";
                        }
                        else if (item.modified.Year == DateTime.UtcNow.Year)
                        {
                            shortTime = ProcDateTimeToUserOffset(item.modified).ToString("dd MMM");
                        }
                        else
                        {
                            shortTime = ProcDateTimeToUserOffset(item.modified).ToString("dd MMM yyyy");
                        }

                        string[] bgColor = { "bg-primary"
                                            , "bg-success"
                                            , "bg-info"
                                            , "bg-warning"
                                            , "bg-danger"
                                            , "bg-secondary"
                                            , "bg-white"
                                            , "bg-dark"
                                            };

                        Random number = new Random((int)item.modified.Ticks);
                        int ind = number.Next(0, bgColor.Length - 1);
                        //Console.WriteLine("ind : " + ind);

                        <article class="timeline-entry @(item.modified.Hour % 2 == 0 ? "left-aligned" : "")">
                            <div class="timeline-entry-inner">
                                <time class="timeline-time" datetime="@item.modified"><span>@shortTime</span> @((MarkupString)textShortTime)</time>
                                <div class="timeline-icon @bgColor[ind]">
                                </div>
                                <div class="timeline-label">
                                    <h2>@(((MarkupString)item.title))</h2>
                                    <p>@(((MarkupString)item.content))</p>
                                    @if (@item.project != null && @item.project != "")
                                    {
                                        <hr>
                                        <p class="text-right"><i>@item.project</i></p>
                                    }
                                </div>
                            </div>
                        </article>
                    }
                }
                
                
                <article class="timeline-entry begin">
                
                    <div class="timeline-entry-inner">
                        
                        <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                            <i class="entypo-flight"></i>
                        </div>
                        
                    </div>
                    
                </article>
            </div>



        </div>
	</div>
</div>

@code {

	DateTime timeNow = DateTime.UtcNow;

	DateTime ProcDateTimeToUserOffset(DateTime dateTimeUtc)
	{
		//var cc = Thread.CurrentThread.CurrentCulture;
		//var ts = DateTime.Now - DateTime.UtcNow;
		DateTimeOffset dateOffset = new DateTimeOffset(dateTimeUtc);
		dateOffset = dateOffset.ToOffset(DateTimeOffset.Now.Offset);
		//Console.WriteLine(DateTime.Now);
		//Console.WriteLine(TimeZoneInfo.Local.BaseUtcOffset);
		//Console.WriteLine(DateTimeOffset.Now.Offset);
		//Console.WriteLine(dateTimeUtc + " > " + dateOffset.DateTime);
		return dateOffset.DateTime;
	}

    class JsonDataContent
    {
        public string project;
        public string title;
        public string content;
	public DateTime create;
	public DateTime modified;
    }

    JsonDataContent[] jsonDataContent;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetStringAsync("contents.json");
        jsonDataContent = JsonConvert.DeserializeObject<JsonDataContent[]>(response);
        //Console.WriteLine(response);

        //jsonDataContent = await Http.GetJsonAsync<JsonDataContent[]>("contents.json");
        //Console.WriteLine(JsonConvert.SerializeObject(jsonDataContent));
        //foreach(var i in jsonDataContent)
        //{
        //    Console.WriteLine(i.title);
        //}

	var timer = new Timer(new TimerCallback(_ =>
        {
		timeNow = DateTime.UtcNow;
            	this.StateHasChanged();
        }), null, 1000, 1000);
    }

}
