﻿@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <div class="ml-md-auto">
            <a href="" class="m-3">Timeline</a>
            <a href="aboutme" class="m-3">About Me</a>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>

    <hr>

    <footer class="m-3" style="padding-top:20px;padding-bottom:20px;">
        <div class="p-3 text-center">
            2019 Development by neo
        </div>
    </footer>
</div>

